#today {
  margin-right: 20%;
}
#head {
  background-color: rgba(10, 128, 128, 0.767);
  color: black;
}
#search {
  font-size: 24px;
  font-weight: 600;
  height: 50px;
}
#submit {
  background-color: lightblue;
  border-radius: 10px;
  color: black;
  margin-top: 10px;
}
#city {
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}
#border {
  border-bottom: 3px solid black;
  border-top: white;
  border-left: white;
  border-right: white;
  margin-top: 6%;
}
#new-city {
  margin-top: 4%;
  border-radius: 10px;
  border: 3px solid grey;
  background-color: lightgray;
}
.tdy-weather {
  height: 100px;
  width: 50px;

  border-radius: 50px;
}
.img-weather {
  height: 100px;
  width: 100px;

  border-radius: 50px;
  text-align: center;
}
.col-2 {
  background-color: chocolate;
  border-radius: 20%;
  color: white;
}
.col-12 {
  background-color: rgb(65, 111, 150);
  color: coral;
}